html {
	height: 100%;
}

body {
	--black-150: #bababa;
	--green-050: #f1f3ec;
	--fc-dark: #0c0d0e;
	--fc-light: #5e666d;	
	font-family: "EB Garamond", "Helvetica-Neue", Helvetica, sans-serif;
	color: var(--fc-dark);
	font-size: 17pt;
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: white;
}

p#intro {
	font-size: 19pt;
}

a:link, a:visited {
	color: #0059bd;
	text-decoration: none;
}

a:hover {
	color: #0c76ee;
	text-decoration: none;
}

div#naviinside {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 14pt;
	color: var(--fc-dark);
}

div#naviinside a:hover {
	color: var(--fc-light);
}

div#navi {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--green-050);
}

div#navicontainer {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	width: 100%;
	min-height: 60px;
	line-height: 60px;
	background-color: var(--green-050);
	color: var(--fc-dark);
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

div#naviinside {
	padding-left: 50px;
	padding-right: 50px;
}

div.container {
	max-width: 1100px;
	padding-top: 75px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: white;
}

div#outer {
	max-width: 1100px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 70px;
}

h2 {
	font-weight: normal;
	font-size: 22pt;
}

img#self {
	float: right;
	border-radius: 10px;
	margin-left: 25px;
	margin-bottom: 25px;
	height: 190px;
}

div#overview {
	height: 100%;
	background-color: white;
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 16pt;
	}
	
	p#intro {
		font-size: 18pt;
	}

	div#naviinside {
		padding-left: 20px;
		padding-right: 20px;
	}

	div.container {
		max-width: 1100px;
		padding-top: 60px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0px;
		background-color: white;
	}
	
	img#self {
		float: right;
		border-radius: 10px;
		margin-left: 20px;	
		margin-bottom: 20px;
		height: 190px;
	}
}
